body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

div#map { 
    width: 100%;
    height: 100%;
    background: grey;
    z-index: 1;
}

ul#towns {
	position: absolute;
	top: 5em;
	z-index: 2;
	padding: 0;
	margin-left: 10px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	list-style-type: none;
}

ul#towns li {
	padding: 0;
	margin: 0;
	padding: .5em;
    cursor: pointer;
	color: #666;
	font: normal 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul#towns li:hover {
	background-color: #c8facc;
	color: black;
}

ul#towns li[data-selected-town="True"] {
	background-color: #aedfa3;
	color: black;
}
